# Data cleaning and wrangling

In [19]:
import pandas as pd
import numpy as np

# Merging the 2006 and 2007 dataset

In [20]:
#uploading the datasets
dataset_2006=pd.read_csv("2006.csv")
dataset_2007=pd.read_csv("2007.csv")

In [21]:
combined_dataset=pd.concat([dataset_2006,dataset_2007])
combined_dataset.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0

# Data description

In [22]:
#checking for the data types
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14595137 entries, 0 to 7453214
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 3.3+ GB

In [23]:
#describe each coloumn
combined_dataset.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.431246e+07,1.459514e+07,1.427909e+07,1.459514e+07,1.459514e+07,1.427909e+07,...,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07,1.459514e+07
mean,2.006511e+03,6.538310e+00,1.572821e+01,3.941697e+00,1.339796e+03,1.331405e+03,1.484467e+03,1.495575e+03,2.187446e+03,1.261937e+02,...,7.238142e+02,6.872862e+00,1.602864e+01,1.936823e-02,2.286035e-03,3.635713e+00,7.258234e-01,3.686945e+00,2.728834e-02,4.813299e+00
std,4.998863e-01,3.425110e+00,8.783863e+00,1.992110e+00,4.782160e+02,4.636542e+02,5.040900e+02,4.801644e+02,1.980504e+03,7.124866e+01,...,5.683351e+02,2.208140e+01,1.156531e+01,1.378155e-01,4.775782e-02,1.987083e+01,9.085721e+00,1.591085e+01,1.183342e+00,2.059818e+01
min,2.006000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.006000e+03,4.000000e+00,8.000000e+00,2.000000e+00,9.300000e+02,9.300000e+02,1.108000e+03,1.115000e+03,5.870000e+02,7.500000e+01,...,3.170000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.007000e+03,7.000000e+00,1.600000e+01,4.000000e+00,1.329000e+03,1.324000e+03,1.515000e+03,1.520000e+03,1.501000e+03,1.080000e+02,...,5.690000e+02,5.000000e+00,1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.007000e+03,1.000000e+01,2.300000e+01,6.000000e+00,1.732000e+03,1.720000e+03,1.911000e+03,1.906000e+03,3.499000e+03,1.560000e+02,...,9.510000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.007000e+03,1.200000e+01,3.100000e+01,7.000000e+00,2.930000e+03,2.359000e+03,2.955000e+03,2.400000e+03,9.619000e+03,1.879000e+03,...,4.962000e+03,1.501000e+03,6.020000e+02,1.000000e+00,1.000000e+00,2.580000e+03,1.429000e+03,1.392000e+03,3.820000e+02,1.366000e+03

In [24]:
combined_dataset.shape

(14595137, 29)

# Checking for null values

In [25]:
#checks if there are any null values
combined_dataset.isnull().values.any()

True

In [26]:
#checks the number of  null values in each coloumn
pd.isnull(combined_dataset).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                282682
CRSDepTime                  0
ArrTime                316047
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                    22
ActualElapsedTime      316047
CRSElapsedTime            998
AirTime                316047
ArrDelay               316047
DepDelay               282682
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14312454
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

# Remove the rows which has null values

In [27]:
#98% of the rows under the cancellation column is empty. Therefore we remove the cancellation coloumn .
combined_dataset=combined_dataset.drop(columns="CancellationCode")

In [28]:
combined_dataset.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,1587,45,13,0,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,1587,27,19,0,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,1587,4,11,0,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,872,16,10,0,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,872,27,12,0,0,0,0,0,0,0

In [29]:
#remove rows which has null values
combined_dataset.dropna()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,1587,45,13,0,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,1587,27,19,0,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,1587,4,11,0,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,872,16,10,0,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,872,27,12,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,403,14,17,0,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,1589,6,21,0,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,1946,14,19,0,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,732,11,14,0,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,403,10,26,0,0,24,0,9,0,0

In [30]:
#number of rows removed
14595137-14279090

316047

# Removing time outliers

In [31]:
print(combined_dataset["DepTime"].max())
print(combined_dataset["CRSDepTime"].max())
print(combined_dataset["ArrTime"].max())
print(combined_dataset["CRSArrTime"].max())

2930.0
2359
2955.0
2400

In [32]:
#The maximum value a 24 hour clock has is 2359 so anything beyond that is not possible . 
# Filter dataframe without values more than 2359 in the Time columns
combined_dataset=combined_dataset[(combined_dataset["DepTime"]<2400) &(combined_dataset["ArrTime"]<2400) & (combined_dataset["CRSArrTime"]<2400) ]

In [33]:
#re-confirm the maximum value of the time
print(combined_dataset["DepTime"].max())
print(combined_dataset["CRSDepTime"].max())
print(combined_dataset["ArrTime"].max())
print(combined_dataset["CRSArrTime"].max())

2359.0
2359
2359.0
2359

In [34]:
#check if the time is greater than zero
print(combined_dataset["DepTime"].min())
print(combined_dataset["CRSDepTime"].min())
print(combined_dataset["ArrTime"].min())
print(combined_dataset["CRSArrTime"].min())

1.0
1
1.0
0

# Saving cleaned data to a new variable which could be used for other questions

In [35]:
combined_dataset.to_csv("cleaned_data.csv")